@use './reset';
@use './variables' as v;
@use './mixins' as m;
@use './basis';

.section-gallery {
    @include m.grid-container(
      repeat(4, calc((100% - 40px) / 4)),
      repeat(3, 350px),
      8px
    );
    padding: 10px;
    background-size: cover;
    background-position: center;
    grid-auto-flow: row;
  
    div {
      font-family: v.$main-font;
      font-weight: 700;
      font-size: 20px;
      letter-spacing: 0.1rem;
      color: v.$color-white;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      transition: 0.3s ease-in;
  
      p {
        position: relative;
        z-index: 2;
      }
  
      &:hover {
        color: v.$color-Chocolate;
  
        &::after {
          background: rgba(45, 45, 81, 0.7);
        }
      }
  
      @include m.overlay(rgba(45, 45, 81, 0.5));
    }

    div:nth-child(1){
        grid-column: 1 / 3;
        background-image: url("../images/img-html.png");
    }

    div:nth-child(2){
        background-image: url("../images/img-css.png");
    }

    div:nth-child(3){
        background-image: url("../images/img-markup.png");
    }

    div:nth-child(4){
        background-image: url("../images/img-webdesign.png");
    }
    
    div:nth-child(5){
        grid-column: 2 / 4;
        background-image: url("../images/img-qa.png");
    }
    
    div:nth-child(6){
        grid-row: 2 / 4;
        grid-column: 4;
        background-image: url("../images/img-codding.png");
    }

    div:nth-child(7){
        background-image: url("../images/img-adaptability.png");
    }

    div:nth-child(8){
        background-image: url("../images/img-php.png");
    }

    div:nth-child(9){
        background-image: url("../images/img-seo.png");
    }
   
}