$header-font: "Roboto Slab", serif;
$main-font: "Roboto", sans-serif;

$color-platinum: #e5e5e5;
$color-white: #ffff;
$color-Chocolate: #D66926;
$color-AuroMetalSaurus: #637588;
$color-JapaneseIndigo: #2D3651;
$color-overlay: rgba(45, 45, 81, 0.5);
$color-button-hover: rgba(255, 255, 255, 0.1);
$color-border: #707070;

$button-width: 250px;
$button-height: 60px;
$btn-view-width: 300px;
$gallery-item-height: 350px;
$post-image-height: 300px;
$post-contant-height: 250px;
$font-size-xxl: 60px;
$font-size-xl: 40px;
$font-size-lg: 32px;
$font-size-m: 18px;

$section-padding: 20px;
$container-padding: 15px;
$basic-gap: 20px;
$gap-s: 8px;

$transition-default: 0.2s ease;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$transition-default: 0.2s ease;
$overlay-opacity: 0.5;

$tablet: 992px;
$mobile: 768px;
$small-mobile: 576px;